*{
	padding: 0;
	margin: 0;
}

h1{
	text-shadow: 2px 2px 5px #ffffff;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
}

h2{
	font: bold 15px sans-serif;
}

header,section,footer,aside,nav,title, hgroup{
	
	display: block;
}

body{
	background-color: black;
	background-image: linear-gradient(black,#485460);
	text-align: center;	
}

.agrupar{
	background-color: #1e272e;
	background-image: linear-gradient(#1e272e,#808e9b);
	width: 980px;
	border: 1px solid black;
	margin: 15px auto;
	padding: 30px;
}
.cabecera h1{
	text-align: center; 
}
.cabecera{
	border: 1px #999999;
	background-color: #0652DD;
	background-image: linear-gradient(#0652DD,#1B1464);
	padding: 20px;	
	text-align: left; 
}
.social{
	background-color: #1B1464;
	background-image: linear-gradient(#1B1464,#0652DD);
	padding: 15px;

}

.social li{
	list-style: none;
	padding: 5px;
	display: inline-block;
	width: 25%;
}

}



article{
	background: #fffbcc;
	border: 1px solid #999;
	padding: 20px;
	margin: 15px 0;
}
article footer{
	text-align: right
}
.seccion{
	width: 60%;
	margin: 20px;
	float: left;
}
time{
	color: #999;
}

.columna{
	width: 30%;
	margin: 20px 0;
	float: left;
}
.columna li{
	list-style: none;
}
.columna blockquote{
	border: 1px solid black;
	padding:  10px;
	background: #fffbcc;
	margin-bottom: 20px;
}
.seccion img{
	display:  block;
	width: 500px;
	margin: auto;

}
img{
	width: 150px;
	margin: auto 15px;
}

.pie{
	clear: both;
	padding: 20px;
	background: #d2dae2;
}

.columna blockquote{
	border: 1px solid black;
}